## Условие 1:
Оформляйте ноутбук, используя эти советы:
* Номер задачи - заголовок 2
* Номер подзадачи - заголовок 3

Предоставленные наборы данных оформляйте, как код

## Условие 2:
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [3]:
def fruits(**kwargs):    
    total_fruits = sum(kwargs.values())    
    return f'Общее количесиво фруктов: {total_fruits}'
print(fruits(apples=10, pears=7, bananas=5))

Общее количесиво фруктов: 22

## Условие 3:
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [5]:
orig_prices= [100, 125, -90, 345, 655, -1, 0, 200]
prices=[i if i>0 else 0 for i in orig_prices]
prices

[100, 125, 0, 345, 655, 0, 0, 200]

In [7]:
print(f'Суммарные затраты: {sum([i for i in prices if i > 0 ])}')

Суммарные затраты: 1425

## Условие 4:
Даны два списка.
Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [8]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', 
        '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', 
        '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', 
        '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
        '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', 
        '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
proceeds = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 
        4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 
        2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [17]:
print([proceeds[i] for i in range(0, len(date)-1) if "-11" in date[i]])
print(f'Выручка в ноябре: {sum([proceeds[i] for i in range(len(date)-1) if "-11" in date[i]])}')

[4944, 3701, 7037, 4274, 2004, 2822, 316]
Выручка в ноябре: 25098

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [16]:
def earnings(month: list, income: list) -> dict:    
    earnings = {}    
    for i in range(len(month)):        
        if date[i].split('-')[1] in earnings.keys():
            earnings[date[i].split('-')[1]] += proceeds[i]
        else:
            earnings[date[i].split('-')[1]] = proceeds[i]            
    return earnings
print(earnings(date, proceeds))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}